<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button size="small" shape="round" color="medium" (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title color="secondary" style="font-family: monospace; text-align: center">
      CREATE EVENT
    </ion-title>

    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" type="submit" [disabled]="!createEventForm.valid" (click)="createEvent()">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="createEventForm" (ngSubmit)="createEvent()">
    <div class="container">
      <ion-item>
        <ion-input type="text" formControlName="eventName" placeholder="Event Name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="pin"></ion-icon>
        <ion-input formControlName="location" placeholder="Location"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="create"></ion-icon>
        <ion-textarea formControlName="details" placeholder="Details"></ion-textarea>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon name="calendar"></ion-icon>
            <ion-datetime displayFormat="DD MMM YYYY" formControlName="startDate" [min]="minStartDate"
              [max]="maxStartDate" placeholder="Start Date"></ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-icon name="time"></ion-icon>
            <ion-datetime display-format="h:mm A" picker-format="h:mm A" formControlName="startTime"
              placeholder="Start Time"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon name="calendar"></ion-icon>
            <ion-datetime displayFormat="DD MMM YYYY" formControlName="endDate" [min]="minEndDate" [max]="maxEndDate"
              placeholder="End Date">
            </ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-icon name="time"></ion-icon>
            <ion-datetime display-format="h:mm A" picker-format="h:mm A" formControlName="endTime"
              placeholder="End Time">
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
  </form>
</ion-content>