<ion-header>
  <ion-toolbar>
    <ion-title color="secondary" style="font-family: monospace;">
      MY PROFILE
    </ion-title>

    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="logout()">
        <ion-icon name="power"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <div class="list">
    <div class="top">
      <ion-avatar class="profile-picture">
        <ion-img src="assets/icon/profile-avatar.png"></ion-img>
      </ion-avatar>
    </div>
  </div>

  <ion-toolbar>
    <ion-row>
      <div class="profile-name">
        {{ currentUser.displayName }}
      </div>
    </ion-row>

    <ion-row>
      <div class="profile-email">
        {{ currentUser.email }}
      </div>
    </ion-row>
    
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="openEditProfileModal()">
        <ion-icon name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="profile-details">
    <div class="section">
      <ion-toolbar>
        <ion-row>
          <ion-label style="font-size:x-large">Work</ion-label>
        </ion-row>

        <ion-buttons slot="end">
          <ion-button size="small" shape="round" color="medium" (click)="openEditWorkModal()">
            <ion-icon name="create"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>

      <ion-row *ngFor="let work of works">
        <ion-icon name="briefcase"></ion-icon>
        <span>
          <ion-text *ngIf="work.jobTitle != ''">{{ work.jobTitle }} @ </ion-text>
          <strong>{{ work.companyName }}</strong>
        </span>
      </ion-row>

      <ion-row>
        <ion-button expand="full" type="button" style="width: 100%;" (click)="openAddWorkModal()">
          Add Work
        </ion-button>
      </ion-row>
    </div>

    <div class="section">
      <ion-toolbar>
        <ion-row>
          <ion-label style="font-size:x-large">School</ion-label>
        </ion-row>

        <ion-buttons slot="end">
          <ion-button size="small" shape="round" color="medium" (click)="openEditSchoolModal()">
            <ion-icon name="create"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>

      <ion-row *ngFor="let school of schools">
        <ion-icon name="school"></ion-icon>
        {{ school.schoolName }}
      </ion-row>

      <ion-row>
        <ion-button expand="full" type="button" style="width: 100%;" (click)="openAddSchoolModal()">
          Add School
        </ion-button>
      </ion-row>
    </div>

    <div class="section">
      <ion-toolbar>
        <ion-row>
          <ion-label style="font-size:x-large">Interests</ion-label>
        </ion-row>
      </ion-toolbar>

      <ion-row>
        <span class="interest" *ngFor="let interest of interests">
          <ion-icon name="thumbs-up"></ion-icon>
          {{ interest.interest }}
        </span>
      </ion-row>

      <ion-row>
        <ion-button expand="full" type="button" style="width: 100%;" (click)="openAddInterestModal()">
          Add Interest
        </ion-button>
      </ion-row>
    </div>
  </div>
</ion-content>