<ion-header>
  <ion-toolbar>
    <ion-title color="secondary" style="font-family: monospace; text-align: center">
      MY PROFILE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="list">
    <form>
      <br>
      <div class="top">
        <ion-avatar class="profile-picture big-profile-picture">
          <ion-img (click)="selectImage()" src="assets/icon/profile-avatar.png"></ion-img>
        </ion-avatar>
      </div>
    </form>
  </div>

  <div class="profile-name">
    <p>
      {{ currentUser.displayName }}
      <ion-icon name="create"></ion-icon>
    </p>
  </div>

  <div class="profile-details">
    <ion-row *ngFor="let work of works">
      <ion-icon name="briefcase"></ion-icon>
      {{ work }}
    </ion-row>

    <ion-row *ngFor="let school of schools">
      <ion-icon name="school"></ion-icon>
      {{ school }}
    </ion-row>

    <ion-row>
      <ion-icon name="thumbs-up"></ion-icon>
      <span *ngFor="let interest of interests">
        {{ interest }};
      </span>
    </ion-row>
  </div>

  <ion-button class="logout-button" color="danger" expand="full" (click)="logout()">
    Logout
  </ion-button>
</ion-content>