<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Edit Interest</ion-title>

    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>