<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button size="small" shape="round" color="medium" (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title color="secondary" style="font-family: monospace;">
      EDIT PROFILE
    </ion-title>

    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" type="submit" [disabled]="!editProfileForm.valid"
        (click)="saveChanges()">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="editProfileForm" (ngSubmit)="saveChanges()">
    <br>
    <div class="list">
      <div class="top">
        <ion-avatar class="profile-picture big-profile-picture">
          <ion-img (click)="selectImage()" [src]="imageUrl"></ion-img>
        </ion-avatar>
      </div>
    </div>

    <ion-toolbar>
      <ion-row>
        <ion-label style="font-size:x-large">Display Name</ion-label>
      </ion-row>
      <ion-item>
        <ion-input type="text" formControlName="displayName" placeholder="Display Name"></ion-input>
      </ion-item>

      <ion-row>
          <ion-label style="font-size:x-large">Email</ion-label>
        </ion-row>
        <ion-item>
          <ion-input type="text" formControlName="email" placeholder="Email" [disabled]="true"></ion-input>
        </ion-item>
    </ion-toolbar>
  </form>
</ion-content>