<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-text>
        <ion-text>Home</ion-text>
      </ion-text>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="dark" slot="end">2</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="dark">
    <ion-searchbar [(ngModel)]="searchKey"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium">
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-card *ngFor="let event of events">
    <ion-card-header>
      <ion-card-title>{{ event.eventName }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="row">
        <ion-icon name="pin"></ion-icon> {{ event.location }}
      </div>

      <div class="row">
        <ion-icon name="calendar"></ion-icon> {{ event.startDate }} - {{ event.endDate }}, {{ event.startTime }} hrs
      </div>

      <div class="row">
        <ion-icon name="document"></ion-icon> {{ event.details }}
      </div>

      <div class="row">
          <ion-button *ngIf="!isEventRegistered(event); else elseBlock" expand="full" type="button" (click)="registerForEvent(event)">
            Register
          </ion-button>

          <ng-template #elseBlock>
            <ion-button expand="full" color="light" type="button" disabled>
              Registered
            </ion-button>
          </ng-template>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>