<ion-header>
  <ion-toolbar>
    <ion-title color="secondary" style="font-family: monospace;">
      HOME
    </ion-title>
  </ion-toolbar>

  <ion-toolbar color="secondary">
    <ion-searchbar [(ngModel)]="searchKey"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium">
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card *ngFor="let event of events">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-card-title>{{ event.eventName }}</ion-card-title>
        </ion-row>
      </ion-grid>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-row>
              <ion-icon name="pin"></ion-icon> {{ event.location }}
            </ion-row>

            <ion-row>
              <ion-icon name="calendar"></ion-icon> {{ event.startDate }} - {{ event.endDate }}, {{ event.startTime }}
              hrs
            </ion-row>

            <ion-row>
              <ion-icon name="document"></ion-icon> {{ event.details }}
            </ion-row>
          </ion-col>

          <ion-col>
            <ion-button *ngIf="!isEventRegistered(event); else elseBlock" expand="full" type="button"
              (click)="registerForEvent(event)">
              Register
            </ion-button>

            <ng-template #elseBlock>
              <ion-button expand="full" color="danger" type="button" 
                (click)="unregisterForEvent(event)">
                Unregister
              </ion-button>
            </ng-template>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>